*{
    font-family: Century GOTHIC;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
width: 100%;
min-height: 10vh;
background: white ;
box-sizing: cover;
border: 5px solid grey;
}
.logo-content{
display: flex;
flex-direction: row;
align-items: center;
border: 0px solid gray;
width: 100%;
margin: 20px;


}
.logo-content img{
border: solid 0px #42515f;
width: 5%;

}
.emp-text{
color: cornflowerblue;
text-transform: capitalize;
letter-spacing: 0px;

}
.emp-payroll{
color:#1d76c9
}
.form-content{
min-height: calc(100%-250px);
background-color: aqua;
display: flex;
justify-content: center;
align-items: center;
border: 5px solid rgba(12, 41, 186, 0.92);
}
.form{
width: 90%;
padding: 40px 40px;
background: #f1eded ;
box-shadow: 10px 10px 10px #060000;
border-radius: 8px;

}
.form-head{
font: bold;
letter-spacing: 0px;
color: #01060a;
text-transform: capitalize;
text-align: center;
}
.row-content{
display: flex;
flex-direction: row;
margin-bottom: 10px;
align-items: center;
border:0px solid rgb(4, 6, 4);
}
.label{
min-width: 140px;
}
label{
padding: 12px 12px 12px 0;
display: inline-block;
}
.text{
font-size: 16px;
color: #42515f;
opacity: 1;

}
.input{
width: 86%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: both;
}
.profile-radio-content{
display:flex;
flex-direction: row;
margin-left: 40px;
}
.profile-radio-content label{
display: flex;
flex-direction: row;
align-items: center;

}
.profile{
width: 50px;
border-radius: 30%;
margin-left: 10px;
margin-right: 20px;
}
.gender-radio-content{
    display:flex;
    flex-direction: row;
    margin-left: 80px;
    
}
.gen{
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 30px;

}
.dep-checkbox{
    display:flex;
    flex-direction: row;
    margin-left: 45px;
}

.department{
    width: 70px;  
    margin-left: 10px;
}
.salary-number{
    display:flex;
    flex-direction: row;
    margin-left: 80px;
}
.salary{
    width: 50vh;
    min-height: 30px;
    border-radius: 10px;
    padding:10px;
}
select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font: normal;
    letter-spacing: 0px;
    color: #02060a;
    margin-left: 60px;
}

.Notes{
    margin:30px;
    display:flex;
    flex-direction: row;
    margin-left: 80px;
    width: 100%;
    border-radius: 10px;
}

.buttonParent{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}
.button{
    font-size: 15px;
    letter-spacing: 0px;
    color: #050505;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 1000;
    min-width: 100px;
    padding: 7px 7px;
    border: 1px solid #707070;
    cursor: pointer;
    border-radius: 10px;
}
.cancelButton{
    text-decoration: none;
    text-align: center;
    background-color: crimson;
}
.submitButton{
    border: none;
    background-color: #04bd36;
    margin-right: 30px;
    
}

.resetButton{
    background-color: rgb(39, 33, 231);
}

.submitButton:hover{
    transform: scale(1.1);
    transition : transform 0.4s ease;
    background-color: rgb(22, 251, 22);
}
.cancelButton:hover{
    transform: scale(1.1);
    transition : transform 0.4s ease;
    background-color: rgb(250, 6, 6);
}
.resetButton:hover{
    transform: scale(1.1);
    transition : transform 0.4s ease;
    background-color: rgb(11, 149, 229);
}
.form-head{
    background-color: rgb(11, 146, 225);
    margin:10px;
    padding:10px;
    border-radius: 5px;;
}
